<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
			<strong><a href="https://sahibyar.gitbooks.io/effective-cpp-summary/content/">effective-cpp-summary</a> (On-going)</strong>
			- C++ programming best practises book, summary for my own personal use to have a short and 
			to the point summary of the book for future use.
		</h5>
    </div>
  </div>
</div>
</section>

<section id="projects">
<div class="container">
  <h3>Reading List</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    	 <h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Zero-One-Notes-Startups-Future/dp/0804139296">Zero to One</a> (On-going)</strong>
			- Notes on Startups, or How to Build the Future
		</h5>

	    	 <h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://en.wikipedia.org/wiki/Think_and_Grow_Rich">Think and Grow Rich</a> (On-going)</strong>
			- A book which make you believe that whatever you visualizes, materializes.
		</h5>
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Rich-Dad-Poor-Teach-Middle/dp/1543626610">Rich Dad Poor Dad</a> (Completed)</strong>
			- What The Rich Teach Their Kids About Money - That the Poor and Middle Class Do Not!
		</h5>
	    	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Rich-Dads-CASHFLOW-Quadrant-Financial/dp/1612680054">Rich Dad's Cashflow Quadrant</a> (Completed)</strong>
			- Rich Dad's CASHFLOW Quadrant reveals how some people work less, earn more, pay less in taxes, and learn to become financially free.
		</h5>    
	  	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Lean-Startup-Entrepreneurs-Continuous-Innovation/dp/0307887898">The Lean Startup</a> (Yet to Read)</strong>
			- The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses.
		</h5>	  
	  	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Lean-Women-Work-Will-Lead/dp/0385349947">Lean In</a> (Yet to Read)</strong>
			- Women, Work, and the Will to Lead.
	    	</h5>
	    	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Startup-Life-Surviving-Relationship-Entrepreneur/dp/1480563862">Startup Life</a> (Yet to Read)</strong>
			- Surviving and Thriving in a Relationship with an Entrepreneur.
	    	</h5>
	    	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Founders-Work-Stories-Startups-Early/dp/1430210788">Founder at Work</a> (Yet to Read)</strong>
			- Stories of Startups' Early Days.
	    	</h5>
	    	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Launch-Pad-Inside-Combinator-ebook/dp/B007X5ZBU4">The Launchpad</a> (Yet to Read)</strong>
			- Inside Y Combinator.
	    	</h5>

	  </div>
  </div>
</div>
</section>
