<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
			<strong><a href="https://sahibyar.gitbooks.io/effective-cpp-summary/content/">effective-cpp-summary</a> (On-going)</strong>
			- C++ programming best practises book, summary for my own personal use to have a short and 
			to the point summary of the book for future use.
		</h5>
    </div>
  </div>
</div>
</section>

<section id="projects">
<div class="container">
  <h3>Reading List</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Rich-Dad-Poor-Teach-Middle/dp/1543626610">Rich Dad Poor Dad</a> (Completed)</strong>
			- What The Rich Teach Their Kids About Money - That the Poor and Middle Class Do Not!
		</h5>
	  	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://en.wikipedia.org/wiki/Think_and_Grow_Rich">Think and Grow Rich</a> (On-going)</strong>
			- A book which make you believe that whatever you visualizes, materializes.
		</h5>
	    	<h5>
			<i class="fa fa-book"></i>&nbsp;&nbsp;
			<strong><a href="https://www.amazon.com/Rich-Dads-CASHFLOW-Quadrant-Financial/dp/1612680054">Rich Dad's Cashflow Quadrant</a> (Completed)</strong>
			- Rich Dad's CASHFLOW Quadrant reveals how some people work less, earn more, pay less in taxes, and learn to become financially free.
		</h5>    </div>

  </div>
</div>
</section>
