<div class="social">
	<h4>
    {% if site.facebook %}
        <a class="icon-facebook" href="http://facebook.com/{{ site.facebook }}"><i class="fa fa-facebook"></i></a>    
    {% endif %}

    {% if site.twitter %}
        <a class="icon-twitter" href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
    {% endif %}

    {% if site.github %}
	    <a class="icon-github" href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}
    
    {% if site.youtube %}
        <a class="icon-youtube" href="http://youtube.com/{{ site.youtube }}"><i class="fa fa-youtube-play"></i></a>    
    {% endif %}

    {% if site.linkedin %}
	    <a class="icon-linkedin" href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}

    {% if site.stackoverflow %}
	    <a class="icon-stackoverflow" href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}

    {% if site.quora %}
        <a class="icon-qoura" href="http://www.quora.com/profile/{{ site.quora }}"><i class="fa fa-quora"></i></a>
    {% endif %}

    {% if site.email %}
        <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.skype %}
        <a href="skype:{{ site.skype}}"><i class="fa fa-skype"></i></a>
    {% endif %}

    {% if site.phone %}
        <a class="icon-dialer" href="callto:{{ site.phone}}"><i class="fa fa-phone"></i></a>
    {% endif %}

    {% if site:location %}
        <a class="icon-google" href="https://www.google.com/maps/{{ site:location}}"><i class="fa fa-map-marker"></i></a>
    {% endif %}

	</h4>
</div>